*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed; /* Fixa a navbar no topo da página */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-right a img.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-right a:hover {
    color: #f0f0f0;
}

.logo-img {
    width: 60px;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links a:hover {
    color: #f0f0f0;
}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
}

.container{
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:500px; /* Aumentar o tamanho do container */
    text-align: center;
    margin-top: 20px;
}

.botaoDropDown{
    margin-bottom: 20px;
}

.botaoDropDown-btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #e0e0e0;
}

.cliente-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cliente-form input, .cliente-form button{
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.cliente-form button{
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cliente-form button:hover{
    background-color: darkred;
}

label{
    margin: 10px 0 5px 0;
}

.cliente-form div{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
